<div class="container ml-0 pt-4">
  <div class="col-12 pl-0">
    <div class="col-4 pl-0 text-center">
      <img src="../../assets/images/layout_set_logo.png" class="w-50" alt="">
    </div>
  </div>
  <div class="col-12 h-100 d-flex flex-row">
    <div class="col-4 pt-4 text-center">
      <app-menu (showInfoCustomerComponent)="showComponent($event)"></app-menu>
    </div>
    <div class="col-7 pt-4">
      <app-info-customer *ngIf="showInfoCustomer"></app-info-customer>
    </div>
  </div>
</div>
