<div class="col-12">
  <div class="col-10 pl-5">
    <label class="text-right title">{{ LABELS.titleCustomer }}</label>
  </div>
  <div class="col-12 text-left">
    <div class="pl-5">
      <div class="col-12 pt-3 pl-5">
        <label class="text-left option">{{ LABELS.customer }}</label>
      </div>
    </div>
    <div class="pl-5">
      <div class="col-12 pl-5">
        <label class="text-left option">{{ LABELS.customerHistory }}</label>
      </div>
    </div>
    <div class="pl-5">
      <div class="col-12 pl-5">
        <label class="text-left option">{{ LABELS.emergencyConfiguration }}</label>
      </div>
    </div>
    <div class="pl-5">
      <div class="col-12 pl-5">
        <label class="text-left option">{{ LABELS.emergencyHistory }}</label>
      </div>
    </div>
  </div>
</div>
