<div class="col-12">
  <div class="col-12 d-flex flex-row">
    <div class="pr-4">
      <button class="btn btn-primary" (click)="showCreateNewCustomer(modalCreateNewCustomer)">
        <img src="assets/icons/plus.svg" alt=""/>
        {{ LABELS_BUTTONS.new }}
      </button>
    </div>
    <div>
      <button class="btn btn-primary">
        <img src="assets/icons/folder-symlink.svg" alt="">
        {{ LABELS_BUTTONS.export }}
      </button>
    </div>
  </div>
  <div class="col-12 pt-4 d-flex flex-row">
    <div class="col-7 pl-0">
      <form [formGroup]="formSearch">
        <div class="input-group">
          <input type="text" class="form-control border-right-0" formControlName="sharedKeyText"
                 placeholder="{{ LABELS_SEARCH.messageBarSearch }}" aria-describedby="button-search">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" (click)="searchCustomer()">{{ LABELS_BUTTONS.search}}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-4">
      <button class="btn btn-primary" (click)="formAdvance.toggle()" [attr.aria-expanded]="showAdvanceSearch">
        {{ LABELS_BUTTONS.advanceSearch }}
      </button>
    </div>
  </div>
  <div class="col-12 pt-3" #formAdvance="ngbCollapse" [(ngbCollapse)]="!showAdvanceSearch">
    <div class="card">
      <form [formGroup]="formAdvanceSearch">
        <div class="card-body">
          <div class="col-12 pb-3 d-flex flex-row">
            <div class="col-4 text-center">
              <label for="nameSearch" class="label-card">{{ LABELS_MODAL.name }}</label>
            </div>
            <div class="col-6">
              <input type="text" formControlName="nameSearch" id="nameSearch" class="form-control form-control-sm"
                     (keypress)="validateLetters($event)" [maxlength]="this.MAXLENGTH.nameLength"/>
            </div>
          </div>
          <div class="col-12 pb-3 d-flex flex-row">
            <div class="col-4 text-center">
              <label for="phoneSearch" class="label-card">{{ LABELS_MODAL.phone }}</label>
            </div>
            <div class="col-6">
              <input type="text" formControlName="phoneSearch" id="phoneSearch" class="form-control form-control-sm"
                     (keypress)="validateNumbers($event)" [maxlength]="this.MAXLENGTH.phoneLength"/>
            </div>
          </div>
          <div class="col-12 pb-3 d-flex flex-row">
            <div class="col-4 text-center">
              <label for="emailSearch" class="label-card">{{ LABELS_MODAL.email }}</label>
            </div>
            <div class="col-6">
              <input type="text" formControlName="emailSearch" id="emailSearch" class="form-control form-control-sm"
                     [maxlength]="this.MAXLENGTH.emailLength"/>
            </div>
          </div>
          <div class="col-12 pb-3 d-flex flex-row">
            <div class="col-4 text-center">
              <label for="startDateSearch" class="label-card">{{ LABELS_MODAL.startDate }}</label>
            </div>
            <div class="col-6">
              <input type="date" formControlName="startDateSearch" id="startDateSearch" class="form-control form-control-sm"
                     [maxlength]="this.MAXLENGTH.dateLength"/>
            </div>
          </div>
          <div class="col-12 d-flex flex-row">
            <div class="col-4 text-center">
              <label for="endDateSearch" class="label-card">{{ LABELS_MODAL.endDate }}</label>
            </div>
            <div class="col-6">
              <input type="date" formControlName="endDateSearch" id="endDateSearch" class="form-control form-control-sm"
                     [maxlength]="this.MAXLENGTH.dateLength"/>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex flex-row">
          <div class="col-6"></div>
            <div class="col-4">
              <div class="col pr-2 pb-2 pl-5">
                <button type="button" class="col w-100 btn btn-primary" (click)="searchAdvance()">
                  {{ LABELS_BUTTONS.confirmation }}
                </button>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 pt-5">
    <label class="title">{{ LABELS_TABLE.title }}</label>
  </div>
  <div class="col pl-0">
    <div class="col-12 pt-4">
      <table class="w-100 table table-bordered">
        <thead>
        <tr>
          <td scope="col" class="text-center label-table">{{ LABELS_TABLE.sharedKey }}</td>
          <td scope="col" class="text-center label-table">{{ LABELS_TABLE.businessID }}</td>
          <td scope="col" class="text-center label-table">{{ LABELS_TABLE.email }}</td>
          <td scope="col" class="text-center label-table">{{ LABELS_TABLE.phone }}</td>
          <td scope="col" class="text-center label-table">{{ LABELS_TABLE.dataAdded }}</td>
          <td scope="col" class="text-center label-table">
            <img src="assets/icons/pencil.svg" alt="">
          </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customerDetailList">
          <td class="align-middle">
            <div>
              <div class="text-center label-table">{{ customer.sharedKey }}
              </div>
            </div>
          </td>
          <td class="align-middle">
            <div>
              <div class="text-center label-table">{{ customer.name }}
              </div>
            </div>
          </td>
          <td class="align-middle">
            <div>
              <div class="text-center label-table">{{ customer.email }}
              </div>
            </div>
          </td>
          <td class="align-middle">
            <div>
              <div class="text-center label-table">{{ customer.phone }}
              </div>
            </div>
          </td>
          <td class="align-middle">
            <div>
              <div class="text-center label-table">{{ customer.dataAdded | date: 'dd/MM/yyyy' }}
              </div>
            </div>
          </td>
          <td>
            <img src="assets/icons/pencil.svg" alt="">
          </td>
        </tr>
        </tbody>
      </table>
      <label *ngIf="noData" class="text-center">{{ MESSAGE_ERROR.messageNoData }}</label>
    </div>
  </div>
</div>

<ng-template #modalCreateNewCustomer>
  <div class="modal-content">
    <div class="modal-header">
      <label class="modal-title label-title-form">{{ LABELS_MODAL.titleModal }}</label>
    </div>
    <form [formGroup]="formCreateNewCustomer">
      <div class="modal-body">
        <div class="col-12 pb-3 d-flex flex-row">
          <div class="col-4 text-center">
            <label for="nameCustomer" class="label-form">{{ LABELS_MODAL.name }}</label>
          </div>
          <div class="col-6">
            <input type="text" formControlName="nameCustomer" id="nameCustomer" class="form-control"
                   (keypress)="validateLetters($event)" [maxlength]="this.MAXLENGTH.nameLength"/>
          </div>
        </div>
        <div class="col-12 pb-3 d-flex flex-row">
          <div class="col-4 text-center">
            <label for="phoneCustomer" class="label-form">{{ LABELS_MODAL.phone }}</label>
          </div>
          <div class="col-6">
            <input type="text" formControlName="phoneCustomer" id="phoneCustomer" class="form-control"
                   (keypress)="validateNumbers($event)" [maxlength]="this.MAXLENGTH.phoneLength"/>
          </div>
        </div>
        <div class="col-12 pb-3 d-flex flex-row">
          <div class="col-4 text-center">
            <label for="emailCustomer" class="label-form">{{ LABELS_MODAL.email }}</label>
          </div>
          <div class="col-6">
            <input type="text" formControlName="emailCustomer" id="emailCustomer" class="form-control"
                   [maxlength]="this.MAXLENGTH.emailLength"/>
            <p class="text-center"
               *ngIf="this.formCreateNewCustomer.controls.emailCustomer.touched && this.formCreateNewCustomer.controls.emailCustomer.errors">
              {{ MESSAGE_ERROR.messageEmail }}
            </p>
          </div>
        </div>
        <div class="col-12 pb-3 d-flex flex-row">
          <div class="col-4 text-center">
            <label for="startDateCustomer" class="label-form">{{ LABELS_MODAL.startDate }}</label>
          </div>
          <div class="col-6">
            <input type="date" formControlName="startDateCustomer" id="startDateCustomer" class="form-control"
                   [maxlength]="this.MAXLENGTH.dateLength"/>
          </div>
        </div>
        <div class="col-12 d-flex flex-row">
          <div class="col-4 text-center">
            <label for="endDateCustomer" class="label-form">{{ LABELS_MODAL.endDate }}</label>
          </div>
          <div class="col-6">
            <input type="date" formControlName="endDateCustomer" id="endDateCustomer" class="form-control"
                   [maxlength]="this.MAXLENGTH.dateLength"/>
            <p class="text-center"
               *ngIf="this.formCreateNewCustomer.controls.endDateCustomer.touched && this.formCreateNewCustomer.controls.endDateCustomer.errors">
              {{ MESSAGE_ERROR.messageDate }}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer pr-5">
        <div class="col-4 pr-5 pl-0">
          <div class="col pr-5 pl-0">
            <button type="button" class="col w-100 btn btn-primary" (click)="save()" [disabled]="formCreateNewCustomer.invalid">
              {{ LABELS_BUTTONS.confirmation }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
