.title {
  font-family: "Trebuchet MS";
  font-size: 20px;
  color: #1db2fc;
}

.option {
  font-family: "Trebuchet";
  font-size: 16px;
  color: black;
}

.btn-outline-secondary {
  border-color: #ced4da !important;
}
