.title {
  font-family: "font-weight-bold";
  font-size: 20px;
  color: #1db2fc;
}

.label-title-form {
  font-family: "font-weight-bold";
  font-size: 22px;
  color: #6A6E6F;
}

.label-form {
  font-family: "font-weight-bold";
  font-size: 20px;
  color: #6A6E6F;
}

.label-table {
  font-family: "font-weight-bold";
  font-size: 16px;
  color: #6A6E6F;
}

.table-bordered {
  border: 2px solid !important;
  border-color: #939797 !important;
}

.btn-outline-secondary {
  border-color: #ced4da !important;
}

.modal-content {
  background-color: #89C5D8;
}

.modal-header {
  border-color: #6A6E6F;
}

.modal-footer {
  border: none
}
